body {
	font-family: Montserrat;
}
#splash {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	background-color: #eee;
	color: #AAADAD;
	text-align: center;
	font-size: 270%;
}

a {
	color: #AAADAD;
	text-decoration: none;
	opacity: 1;
}

li {
	list-style-type: none;
	margin-top: 2%; 
	text-align: left;
	margin-left: 37%;
}

#end {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	background-color: #eee;
	color: #AAADAD;
	text-align: center;
	font-size: 180%;
}

#made {
	position: absolute;
	top: 92%;
	right: 20px;
	opacity: 0.7;
	color: #eee;
}

#speed {
	position: absolute; 
	top: 0px; 
	left: 30px; 
	color: #eee;
	font-style: bold;
	font-size: 200%;
	opacity: 0.7;
}

#title {
	position: absolute; 
	top: 0px; 
	left: 47%; 
	color: #eee;
	font-style: bold;
	font-size: 200%;
	opacity: 0.7;
}

#distance {
	position: absolute; 
	top: 0px; 
	right: 30px; 
	color: #eee;
	font-style: bold;
	font-size: 200%;
	opacity: 0.7;
}

#ret {
	color: #AAADAD;
	position: absolute;
	top: 50%;
	left: 50%;
}

#score {
	position: absolute; 
	top: 0px; 
	right: 140px; 
	color: #eee;
	font-style: bold;
	font-size: 200%;
	opacity: 0.7;
}